* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

.calculator {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    background: #333;
}

input {
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-size: 65px;
    text-align: right;
    color: #fff;
    border: solid 2px #6e6e6e;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.378);
}

input::placeholder {
    color: #fff;
}

button {
    width: 75px;
    height: 75px;
    margin: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 25px;
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.378);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
}

.ac,
.del {
    font-size: 20px;
}

button:hover {
    color: #000;
    background: #fff;
}

.operator {
    color: grey;
}

.equalto {
    color: #fff;
    background: blue;
}